@using Izkustvolandia.Domain
@model Izkustvolandia.Models.GenreViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Създай нов жанр</h1>

<h4>Жанрове</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Към всички</a>
</div>

<script>
    $(document).ready(function() {
        $(".js-example-basic-multiple").select2(); // Initialize Select2 if used
    });
</script>
