@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Izkustvolandia</title>
    @* <link rel="stylesheet" href="~/Izkustvolandia.styles.css" asp-append-version="true"/> *@
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/chosen.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
@* <header> *@
@*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*         <div class="container-fluid"> *@
@*             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> *@
@*                 <img src="Image/logo.png" height="40px"/> *@
@*             </a> *@
@*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                     aria-expanded="false" aria-label="Toggle navigation"> *@
@*                 <span class="navbar-toggler-icon"></span> *@
@*             </button> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                 <ul class="navbar-nav flex-grow-1"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="All">Продукти</a> *@
@*                     </li> *@
@*                 </ul> *@
@*                 <partial name="_LoginPartial"/> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@
<!--End Search Form Drawer-->
<header class="header-area gray-bg clearfix">
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-4">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img alt="" src="~/Image/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
                                    <li><a asp-controller="Products" asp-action="All">Продукти</a></li>
                                    <li class="top-hover"><a asp-controller="Home" asp-action="Contact">Контакти</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-2 d-flex align-items-center nav-left-side">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown me-3">
                                <button class="btn dropdown-toggle border-0 bg-transparent text-dark" type="button" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                                    <i class="fa fa-cogs mr-1"></i> Администрация
                                </button>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="Create">Добави продукт</a>
                                    <a class="dropdown-item" asp-controller="Products" asp-action="All">Продукти</a>
                                    <a class="dropdown-item" asp-controller="Users" asp-action="Add">Добави потребител</a>
                                    <a class="dropdown-item" asp-controller="Users" asp-action="All">Потребители</a>
                                    <a class="dropdown-item" asp-controller="Orders" asp-action="All">Поръчки</a>
                                    <a class="dropdown-item" asp-controller="Genres" asp-action="All">Жанрове</a>
                                    <a class="dropdown-item" asp-controller="DrawingTechniques" asp-action="All">Техники на рисуване</a>
                                </div>
                            </div>
                        }

                        if (User.Identity.IsAuthenticated)
                        {
                            <div class="header-cart">
                                <a asp-controller="Products" asp-action="Cart">
                                    <div class="cart-icon">
                                        <i class="ti-shopping-cart"></i>
                                    </div>
                                </a>
                                <div class="shopping-cart-content">
                                    <ul>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Phantom Remote </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="ion ion-close"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="assets/img/cart/cart-2.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Phantom Remote</a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="ion ion-close"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>Shipping : <span>$20.00</span></h4>
                                        <h4>Total : <span class="shop-total">$260.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn">
                                        <a href="cart-page.html">view cart</a>
                                        <a href="checkout.html">checkout</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <a style="cursor: pointer"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark" style="cursor: pointer"><i class="fa fa-sign-out fa-lg mr-1"></i></button>
                        </form>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="header-currency authentication-buttons">
                            <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
                            <a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                        </div>
                    }
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="#">HOME</a>
                                <ul>
                                    <li><a href="index.html">home version 1</a></li>
                                    <li><a href="index-2.html">home version 2</a></li>
                                </ul>
                            </li>
                            <li><a href="#">pages</a>
                                <ul>
                                    <li><a href="about-us.html">about us </a></li>
                                    <li><a href="shop.html">shop Grid</a></li>
                                    <li><a href="shop-list.html">shop list</a></li>
                                    <li><a href="product-details.html">product details</a></li>
                                    <li><a href="cart-page.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wishlist.html">wishlist</a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                    <li><a href="login-register.html">login / register</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html"> Shop </a>
                                <ul>
                                    <li><a href="#">Categories 01</a>
                                        <ul>
                                            <li><a href="shop.html">Aconite</a></li>
                                            <li><a href="shop.html">Ageratum</a></li>
                                            <li><a href="shop.html">Allium</a></li>
                                            <li><a href="shop.html">Anemone</a></li>
                                            <li><a href="shop.html">Angelica</a></li>
                                            <li><a href="shop.html">Angelonia</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Categories 02</a>
                                        <ul>
                                            <li><a href="shop.html">Balsam</a></li>
                                            <li><a href="shop.html">Baneberry</a></li>
                                            <li><a href="shop.html">Bee Balm</a></li>
                                            <li><a href="shop.html">Begonia</a></li>
                                            <li><a href="shop.html">Bellflower</a></li>
                                            <li><a href="shop.html">Bergenia</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Categories 03</a>
                                        <ul>
                                            <li><a href="shop.html">Caladium</a></li>
                                            <li><a href="shop.html">Calendula</a></li>
                                            <li><a href="shop.html">Carnation</a></li>
                                            <li><a href="shop.html">Catmint</a></li>
                                            <li><a href="shop.html">Celosia</a></li>
                                            <li><a href="shop.html">Chives</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Categories 04</a>
                                        <ul>
                                            <li><a href="shop.html">Daffodil</a></li>
                                            <li><a href="shop.html">Dahlia</a></li>
                                            <li><a href="shop.html">Daisy</a></li>
                                            <li><a href="shop.html">Diascia</a></li>
                                            <li><a href="shop.html">Dusty Miller</a></li>
                                            <li><a href="shop.html">Dame’s Rocket</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">BLOG</a>
                                <ul>
                                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                    <li><a href="#">Blog Standard</a>
                                        <ul>
                                            <li><a href="blog-left-sidebar.html">left sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">right sidebar</a></li>
                                            <li><a href="blog-no-sidebar.html">no sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Post Types</a>
                                        <ul>
                                            <li><a href="blog-details-standerd.html">Standard post</a></li>
                                            <li><a href="blog-details-audio.html">audio post</a></li>
                                            <li><a href="blog-details-video.html">video post</a></li>
                                            <li><a href="blog-details-gallery.html">gallery post</a></li>
                                            <li><a href="blog-details-link.html">link post</a></li>
                                            <li><a href="blog-details-quote.html">quote post</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="contact.html"> Contact us </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main-content">
    @RenderBody()
</div>

<footer class="footer-area bg-light text-dark py-3 mt-auto">
    <div class="container text-center">
        <div class="mb-2">
            <a asp-controller="Home" asp-action="Index" class="mx-2 text-dark text-decoration-none">Начало</a>
            <a asp-controller="Products" asp-action="All" class="mx-2 text-dark text-decoration-none">Магазин</a>
            <a asp-controller="Home" asp-action="Contact" class="mx-2 text-dark text-decoration-none">Контакт</a>
        </div>
        <small class="d-block">© @DateTime.Now.Year Изкустволандия. Създадено от Николай Василев.</small>
    </div>
</footer>

<!-- all js here -->
<script src="~/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/imagesloaded.pkgd.min.js"></script>
<script src="~/js/isotope.pkgd.min.js"></script>
<script src="~/js/ajax-mail.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/plugins.js"></script>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>