@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Izkustvolandia.Areas.Identity.Pages.Account.RegisterModel

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-4 ">
            <form id="registerForm" method="post">
                <h2>Регистрирай се</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Име" />
                    <label asp-for="Input.FirstName">Име</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Фамилия" />
                    <label asp-for="Input.LastName">Фамилия</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="email@Kafelino.com" />
                    <label asp-for="Input.Email">Имейл</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="123123" />
                    <label asp-for="Input.Password">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="123123" />
                    <label asp-for="Input.ConfirmPassword">Повтори парола</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}